.Add_Data .grid-container {
    max-width: 1500px;
    max-height: 1080px;
}

.Add_Data .grid-navbar {
    min-width: auto;
    max-width: 20%;
    min-height: 100%;
    margin-top: 5%;
}
.Add_Data .grid-content {
    min-width: 80%;
    max-width: 80%;
    min-height: 100%;
}