.TextBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.TextBox h3{
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 0;
}

.TextBox p{
    border-style: solid;
    border-radius: 10px;
}