body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: Playfair Display;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Playfair Display;
}
