h1 {
  font-size: 250%;
}

.header-image {
  background-image: url(../../assets/images/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}