.App .header {
  grid-area: header;
  background-image: url(assets/images/banner_transparent.png);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 30px;
}

.App .content {
  grid-area: content;
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: 160px;
  grid-template-areas:
    "header"
    "content";
  grid-gap: 8px;

}