body {
  background: url("./assets/images/background.png") no-repeat center center fixed;
  background-size: 45%;
  background-color: black;
  color: white;
  margin: 0;
  font-family: Playfair Display;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Playfair Display;
}