.Uitleg .grid-container {
    max-width: 1500px;
    max-height: 1080px;
}

.Uitleg .grid-navbar {
    min-width: auto;
    max-width: 20%;
    min-height: 100%;
    margin-top: 5%;
    margin-left: 4%;
}
.Uitleg .grid-content {
    min-width: 80%;
    max-width: 80%;
    min-height: 100%;
}